/*INDEX.HTML*/
@import "./base/reset";
@import "./base/mixins";
@import "./base/variables";
@import "./componentes-index/body";
@import "./componentes-index/header";
@import "./componentes-index/gallery";

* {
    @extend %reset;
}


/*PAGE FOTOS*/

/*GALERIA*/


.encabezado {
    font-weight: 400;
    margin-bottom: 30px;
    color: #20C997;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
}

.imagen {
    width: 100%;
}

.imagen img {
    width: 100%;
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

/*dise単o responsive pantallas muy peque単as*/
@media (min-width:100px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*dise単o responsive pantallas peque単as*/
@media(min-width:520px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*pantallas std*/
@media (min-width:728px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*pantallas grandes*/

@media (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
}






/* ---------------------Page SERVICIOS ---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');


html, body{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: .03em;
    font-family: 'Open Sans', sans-serif;

}

.titulo{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba($color: #000000, $alpha: 0.2);
}

.container .card img{
width: 330px;
height: 220px;
}

.container .card h4{
    font-weight: 600;
    padding: auto;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color:  #20C997;
}