/*INDEX.HTML*/
@import "./base/reset";
@import "./base/mixins";
@import "./base/variables";
@import "./componentes-index/body";
@import "./componentes-index/header";
@import "./componentes-index/gallery";
@import "./componentes-fotos/fotos";
@import "./componentes-servicios/servicios";
* {
    @extend %reset;
}


/*PAGE FOTOS*/

/* ----Page SERVICIOS ----*/
