
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

/*Contenido del articulo de informacion page*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

article::before{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color:greenyellow;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;

}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: whitesmoke;
}
article img{
    width: 100%;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding-bottom: 2rem;
}

span {
    font-weight: bold;
    color: $secondary-color;
}