/*----------------------HEADER------------------*/
@import "../base/variables";
@import "../base/mixins";

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    padding: 1.5rem 0;
    margin: 0 auto;

    @include mobile {
        padding: 1.1rem;
    }
}

.header-brand {
    color: $primary-color;
    font-size: 3rem;
    text-decoration: none;
}

.header-navbar {
    @include flex-center;
    list-style: none;
    text-decoration: none;
    ul {
        height: 100%;
        @include flex-center;
        @include mobile {
            display: none;
        }

        li {
            margin: 0 1rem;
            font-size: .8rem;
            list-style: none;

            a {
                color: $secondary-color;
                text-decoration: none;
            }

            ul li .active {
                color: $secondary-color;
            
            }
        }
    }
}

.header-social-media {
    ul {
        @include flex-center;
        height: 100%;
        list-style: none;
        @include mobile {
            display: none;
        }

        li {
            margin: 0 1rem;
        }
    }
}